/node_modules
.DS_Store
/config.json
*.wav
/load-classes/https
/data/audio.json
/data/myki.json
/data/myki-settings.json
/data/watch-games.json
/data/rice.json
/data/vc-control.json
*.zip
/staff.json
/weekly_operational_notice
/transfers
/student
/staff
/roll
/events*
/data/classes-old.json
/data/won.dat
